* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background: repeating-radial-gradient(#f3f3f3, #f3e9e9);
}

#container {
    background: repeating-radial-gradient( #f3e9e9, #f3f3f3);
}

.footer {
    background-color: #22232f;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items_menu {
    display: inline-block;
    margin: 15px;
}

.im {
    text-decoration: none;
    color: #555;
    font-size: 20px;
}

.logo {
    margin-top: 8px;
}

.user_do_something {
    margin-top: 10px;
}

.search {
    height: 30px;
    width: 180px;
    font-size: 18px;
    border: 2px solid #555;
    border-radius: 5px;
    margin-right: 20px;
}

.tittle_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    /* border: 0.5px solid #555; */
}

.items_content {
    width: 600px;
    height: 350px;
}

.tittle_items_content {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
    justify-content: space-around;
}

.tic1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.tic2 {
    font-size: 20px;
}

.tic3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tic4 {
    width: 40%;
    height: 40px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3fae66;
    color: #fff;
}

.tic5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
}

.learn_more {
    display: flex;
    width: 50%;
    margin: 50px;
}

.lm_to {
    text-decoration: none;
    list-style: none;
    margin: 0 40px;
}

.select-lang {
    color: #fff;
    width: 100px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    background-color: #1a1a22;
}

.lm_properties {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.lm_email_icon {
    position: absolute;
    top: 10px;
    left: 20px;
}

.lm_heading {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.textfield {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 0 50px 0 0;
    font-size: 15px;
    outline: none;
    background-color: #1a1a22;
    border: 2px solid #fff;
    color: #fff;
}

.button {
    position: absolute;
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: -50px;
    color: #fff;
    padding: 0;
    background-color: #439760;
}

.other {
    display: flex;
    list-style: none;
}

.other_to {
    margin: 0 10px;
    font-size: 15px;
}